* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
}

section {
    padding: 2rem;
}

img {
    max-width: 100%;
    display: block;
}